#home{
    max-height: 100%;
    max-width: 100%;
    border: 0px;
    background-image: url(img/av1.jpg)   ;
    min-height: 100%;
    min-width: 100%;
    background-position: center;
    background-size: cover;
    text-align: center;
}
.ck{
    
}

h1{
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family: 'Raleway', sans-serif;
}


.main{
    padding-top:1%;  padding-bottom: 20%
}

@media (min-width:320px) and (max-width:430px){
    #home .main{
        padding-top: 200px;
    }
    #second p{
        font-size: 10px;        
    }
}

@media (min-width:431px){
    #home{
        background-image:  url(img/av4.jpg)!important;
        max-height: 100%;
        max-width: 100%;
        border: 0px;
    
        min-height: 100%;
        min-width: 100%;
        background-position: center;
        background-size: cover;
        text-align: center;
        
    }
}

.abc{
    
    position: relative;
    padding-top:10%;
    padding-bottom: 10%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 660px;
}


.imagehe{
    padding: 20px;
}

#welcome{
    background: url(img/av3.jpg);
    max-height: 100vh;
    max-width: 100%;      
    background-position: center;
    background-size: cover;
    text-align: center;
}

#welcome .invitation{
    padding: 17%;
    
   
}

.inner{
    display: table;
    width: 100%;
}

.inner div{
    width: 50%;
    
}

.but{
    color: black;
    border: 1px black solid;
    color: black;
}

button:hover{
    
    background-color: grey;
}
footer p{
    font-family: 'Raleway', sans-serif;
}